.container {
    font-family: "Identify font", sans-serif;
}

.btn {
    border-radius: 0;
    margin-right: 0;
}

.btn-signup {
    background-color: #18b088;
    color: #fff;
}

.btn-login {

    color: #fff;
}

.log-color {
    color: #a0b2af;
}

.btn-success {
    background-color: #18b088;

}

.btn-success:hover {
    background-color: #18b088;
}

.btn-success:active {
    background-color: #f7f7f7;
}

/*  */
.btn:active {
    background-color: #18b088;
}

.form-control.rounded-0 {
    background-color: transparent;
}

/* .form-control.rounded-0::placeholder {
    color: rgb(148, 148, 148);
} */
/*  */

input:valid {
    color: rgb(246, 246, 246);
}

input:focus::placeholder {
    color: #18b088;
}

/*................................................................ */

body {
    background-color: #bbbbbb;
}

.form-container {
    margin-top: 4em;
}

.form-group {
    margin-bottom: 1.5em;
}

.input-group-append {
    height: 38px;
}

@media (min-width: 576px) {
    .form-container {
        margin-top: 6em;
    }

    .input-group-append {
        height: 43px;
    }
}

@media (min-width: 768px) {
    .form-container {
        margin-top: 8em;
    }
}

@media (min-width: 992px) {
    .form-container {
        margin-top: 10em;
    }

    .form-control {
        width: 45%;
        display: inline-block;
        /* margin-right: 5%; */
    }

    .form-control:last-child {
        margin-right: 0;
    }

    .btn-group {
        width: 100%;
    }

    .btn-group .btn {
        width: 50%;
    }

    .btn-group .btn:first-child {
        border-radius: 0 0 0 .25rem;
    }

    .btn-group .btn:last-child {
        border-radius: 0 0 .25rem 0;
    }
}

@media (min-width: 1200px) {
    .form-control {
        width: 30%;
    }

    .form-control:last-child {
        margin-right: 5%;
    }

    .btn-group .btn {
        width: 25%;
    }

    .btn-group .btn:first-child {
        border-radius: 0 0 0 .5rem;
    }

    .btn-group .btn:last-child {
        border-radius: 0 0 .5rem 0;
    }
}

.btn-get-started {
    /* font-size: 2rem; Измените значение для достижения желаемого размера */
    font-size: 34px;
    font-weight: bold;


}
/* Ховер Батон */
.btn-get-started {
    /* background-color: #28a745; Зелений колір для кнопки без кліку та ховеру */
    border-color: #28a745; /* Колір рамки для кнопки без кліку та ховеру */
    color: #fff; /* Колір тексту для кнопки без кліку та ховеру */
  }
  
  .btn-get-started:hover,
  .btn-get-started:active {
    background-color: #8cf0a2; /* Темно-зелений колір для кнопки при ховері та кліку */
    border-color: #218838; /* Темно-зелений колір рамки для кнопки при ховері та кліку */
    color: #030303; /* Колір тексту для кнопки при ховері та кліку */
  }
  /*  */

  .btn-get-started {
    /* Решта CSS-стилів для кнопки */
    transition: all 1s ease; /* Додати плавну анімацію для зміни стилів */
  }
  
  /* .btn-get-started:hover,
  .btn-get-started:active {
    /* Решта CSS-стилів для кнопки при ховері та кліку */
    transform: scale(1,0); /* Збільшити розмір кнопки при ховері та кліку */
  } */
  





/*      ---------------------------- */
/* ----------------Медіа --------------------------*/


@media (max-width: 576px) {

    /* Стили для маленьких экранов */
    .btn {
        font-size: 1.2rem;
        /* Увеличить размер текста */
        font-weight: bold;
        /* Сделать текст жирнее */
    }

    .btn-success {
        padding: 12px 16px;
        /* Увеличить размер кнопки */
    }
}

@media (max-width: 576px) {

    /* Стили для маленьких экранов */
    .btn-bt {
        font-size: 14px;
        /* Увеличить размер текста */
        /* Сделать текст жирнее */
    }

    .btn-success-bt {
        padding: 6px 8px;
        /* Увеличить размер кнопки */
    }
}

@media (max-width: 576px) {

    /* Стили для маленьких экранов */
    .btn-h2 {
        font-size: 24px;
        font-weight: bold;
        /* Увеличить размер текста */
        /* Сделать текст жирнее */
    }

    .btn-success-h2 {
        padding: 6px 8px;
        /* Увеличить размер кнопки */
    }
}